{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "quoteProps": "consistent",
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true
}
